{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Calculadora de IMC</h1>

    <div class='controls'>
        <input type='number' name='peso' id='peso' placeholder='Peso: 0.00kg'/>

        <input type='number' name='altura' id='altura' placeholder='Altura: 0.00m'/>

        <button onclick="calcular_imc()">Calcular</button>

        <div id="resultado"></div>
    <div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/imc.js' %}"></script>
{% endblock scripts %}