body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
    align-items: center;
    justify-content: center;
}

main {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border: 1px solid #2f2f2f;
    border-radius: 16px;

    h1 {
        margin: 0;
        text-align: center;
    };
    
    p {
        text-align: center;
    };
    
    a {
        display: block;
        text-decoration: none;
        padding: 10px;
        background-color: #a100f1;
        border-radius: 10px;
        text-align: center;
        color: white;
    }
    
    a:hover {
        background-color: #a900f9;
    }
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #3f3f3f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

button {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #a100f1;
    border-radius: 10px;
    border: none;
    width: 100px;
    text-align: center;
    color: white;
}

button:hover {
    background-color: #a900f9;
}

#resultado {
    padding: 0;
    margin: 0;
    margin-top: 10px;

    p{
        padding: 10px;
        margin: 0;
        color: black;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
    }

    p.t-0 {
        background-color: yellow;
    }

    p.t-1 {
        background-color: green;
    }

    p.t-2 {
        background-color: orange;
    }

    p.t-3 {
        background-color: orangered;
    }

    p.t-4 {
        background-color: red;
        color: white;
    }

    p.t-5 {
        background-color: darkred;
        color: white;
    }
}



